.people_button {
    -fx-background-color: transparent;
    -fx-background-image: url("file:src/app/resources/people_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: transparent;
}
.history_button {
    -fx-background-color: transparent;
    -fx-background-image: url("file:src/app/resources/history_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: transparent;
}
.new_match_button {
    -fx-background-color: transparent;
    -fx-background-image: url("file:src/app/resources/new_match_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: transparent;
}
.leaderboard_button {
    -fx-background-color: transparent;
    -fx-background-image: url("file:src/app/resources/leaderboard_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: transparent;
}
.graph_button {
    -fx-background-color: transparent;
    -fx-background-image: url("file:src/app/resources/graph_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: transparent;
}